<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <title>CHANGE ME!!!!!!!!!!!!!!!!!</title>
        <!-- linking a css style sheet -->
        <link rel="stylesheet" href="{% static 'python_belt_exam_app/css/styles.css' %}">
        <!-- Linking Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1> You've made it through login or registration! </h1>
            <h3>{{ request.session.welcomemessage }}</h3>
            <h3>{{ request.session.welcomename }}</h3>
            <h1><a href="/logout">Log out</a></h1>
        </div>